<div class="container">
  <div class="user-details">
    <br>
    <img id="photo" alt="photo" src="https://user-images.githubusercontent.com/63458653/87052830-37e80400-c23c-11ea-86e3-b4b68c0f1225.jpg" style="border-radius: 50%;">
    <br>
    <h3>Jaeheon Lee</h3>
    <h5> Computer Engineering &#8226; Back-end developer &#8226; Busan, Korea &#8226; 25 &#8226; ti6419@gmail.com</h5>
    <p><b>백엔드 개발자 | 신입 개발자 | 즐기는 개발자 | 노력하는 개발자 | 용기있는 개발자 | </b></p>
    <p><b>"도전하고 즐기며 성취합니다."<p><b>
      
      <hr style="border: solid 0.3px rgb(190, 190, 190);"><br>
      
    <h2><p style="text-align: left;">일을 즐기는 개발자 <small>A work-loving developer</small></p></h2>
    <div class="myIntro">
      <p style="text-align: left;">
      <span class="myIntro_first">백엔드 개발자가 되겠습니다.</span>
      <span>저는 중학생 때 부터 프로그래밍을 할 때 체감은 한시간, 두시간 지났는데 실제로는 8시간 정도 지나있거나 하는 좋은 경험을 많이했습니다. 그래서 개발자가 되면 행복할 것 같다는 확신이 들어 컴퓨터공학과에 진학하였습니다. 그후, 제일 잘할꺼 같고 재밌게 할 수 있을 것 같다고 생각한 백엔드 개발자가 되자고 결심했습니다.

        <br><span1 style="line-height:10%"><br></span1>저는  <span class="myIntro_point">자바</span>와  <span class="myIntro_point">JSP</span>를 활용해서 서버를 만들고 <span class="myIntro_point">데이터베이스</span>를 설계할 때 가장 재밌었고 시간가는 줄 몰랐었던 것 같습니다. 백엔드 개발을 할 때, 늘 '이게 과연 최선일까?' 하고 생각하고 탐색하고 이해하면서 <span class="myIntro_point">개발의 지혜</span>가 성장하고 있다 체감이 들었습니다. 그만큼 저는 누구보다 백엔드 개발에 <span class="myIntro_first">흥미가 많고 열정 많은 개발자</span>라고 생각합니다.
          <br><span1 style="line-height:10%"><br></span>
        현재는 백엔드 개발을 주 기술로 백엔드 개발자를 꿈꾸고 있습니다. 이후에는 웹, 게임, 웹앱, 하이브리드 등 다양한 분야의 서버에 대한 지식과 경험을 쌓고 싶고 RDB 뿐만아니라 NoSQL 계열로도 공부하고 네트워크쪽으로도 전문지식을 겸비하여 점차 다양해지는 IT 시장에서 주목할 <span class="myIntro_first">최고의 인재</span>가 되고 싶습니다.</p>
        <br>
        
        <h2><p style="text-align: left;">My school days</p></h2>

        <p style="text-align: left;">&#8226; Identity: 동서대학교 컴퓨터공학과 4학년, UBSE 연구실<br>
        &#8226; Overall GPA(총점) : 3.91/4.5<br>
        &#8226; Major GPA(전공 학점) : 4.07/4.5 </p><br>
    <div id="chart_div"></div>

        <h4><p style="text-align: left;">History</p></h4>

        <p style="text-align: left;">&#8226; 2015. 02 ~: 동서대학교 컴퓨터공학과 재학(2021. 02 졸업예정)<br>
        &#8226; 2016. 05 ~ 2018. 02: 육군 동원 전력 사령부 무선장비 정비병 복무<br>
        &#8226; 2019. 05 ~: 동서대학교 컴퓨터공학과 UBSE Lab researcher<br>
        &#8226; 2019. 12: 4차산업혁명 선도를 위한 CREATIVE & LEVEL UP 창업캠프 대상 수상<br>
        &#8226; 2020. 05: [SW중심대학사업단] 「2020년도 동서 AI·SW 아이디어 경진대회」 우수상 수상<br>
        &#8226; 2020. 10: Red Dot Award: Brands & Communication Design 2020 위너 수상<br>
        &#8226; Now: 학업 병행과 동시에 백엔드 개발자로서의 기술 역량을 확장중</p><br>
        <hr style="border: solid 0.3px rgb(190, 190, 190);">
</div>


<script>

     google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawBasic);
    
         function drawBasic() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', '학기');
    data.addColumn('number', '평균 학점');
    

    data.addRows([
     ['1학년 1학기', 2.19],
     ['1학년 2학기', 3.24],
     ['2학년 1학기', 4.32],
     ['2학년 2학기', 4.41],
     ['3학년 1학기', 4.5]
    ]);

        var options = {
			isStacked   : 'percent',
		focusTarget : 'category',
		chartArea: {left: 40,top: 10},
                              fontSize: 12,
                              height		  : 500,
                              width			  : '100%',
                              legend		  : { position: "top", textStyle: {fontSize: 13}},
                              pointSize		: 5,
                              tooltip		  : {textStyle : {fontSize:12}, showColorCode : true,trigger: 'both'},
		animation		: {startup: true,duration: 1000,easing: 'in' },
                                textStyle: {
                                fontSize: 15,
                                bold: true,
                                italic: true,
                                color: '#871b47',
                                auraColor: '#d799ae',
                                opacity: 0.8,
                                
                              },
                        
            hAxis: {
               
	
            },
            vAxis: {
	ticks: [1.0,1.5,2.0,2.0,2.5,3.0,3.5,4.0,4.5]
                    
         }       
        };
             

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
window.addEventListener('resize', function() { chart.draw(data, options); }, false);
        chart.draw(data, options);
    }
       

           
          
  </script>
