<footer class="footer"><p> <a class="button" href="{{ "http://backendhoney.github.io/" | prepend: site.baseurl }}">
     <i class="devicon-redis-plain" style="color:#ffd700;"></i> &nbsp;Blog </a>
      <a class="button" href="https://github.com/VioletBeach/">
         <i class="devicon-github-plain"></i> 
         &nbsp;Projects </a></p><p> Email: ti6419@gmail.com<br>Phone: 010-4304-2900<br>&copy; {{site.username}} 2020  </footer> 
             <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
             <script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script> 
             <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script> 
             
